.elementor-7 .elementor-element.elementor-element-39bb9d87 {
  padding: 10% 10% 30% 15%;
}
.elementor-7
  .elementor-element.elementor-element-797a9ba4
  > .elementor-widget-container {
  padding: 0px 0px 50px 0px;
}
.elementor-7 .elementor-element.elementor-element-4e3e663 {
  color: #1a1a1a;
}
.elementor-7
  .elementor-element.elementor-element-5bf747d2:not(.elementor-motion-effects-element-type-background),
.elementor-7
  .elementor-element.elementor-element-5bf747d2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-7 .elementor-element.elementor-element-5bf747d2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 120px 120px;
}
.elementor-7
  .elementor-element.elementor-element-5bf747d2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7
  .elementor-element.elementor-element-369d9fd0
  > .elementor-widget-container {
  margin: -25% 0% 0% 0%;
  padding: 0% 0% 0% 6%;
}
.elementor-7 .elementor-element.elementor-element-28079bf2 {
  --spacer-size: 5vh;
}
.elementor-7 .elementor-element.elementor-element-d55fd7e {
  padding: 0px 0px 40px 0px;
}
.elementor-7
  .elementor-element.elementor-element-5a9cb6f:not(.elementor-motion-effects-element-type-background),
.elementor-7
  .elementor-element.elementor-element-5a9cb6f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7fb;
}
.elementor-7 .elementor-element.elementor-element-5a9cb6f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 120px 120px;
}
.elementor-7
  .elementor-element.elementor-element-5a9cb6f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-4c46a5bb {
  padding: 0px 0px 60px 0px;
}
.elementor-7 .elementor-element.elementor-element-fcc4374 {
  padding: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-154db84 {
  padding: 120px 0px 120px 150px;
}
.elementor-7
  .elementor-element.elementor-element-678c065
  > .elementor-widget-container {
  padding: 0px 0px 80px 0px;
}
.elementor-7 .elementor-element.elementor-element-5b6c041b {
  padding: 0px 0px 120px 0px;
}
@media (max-width: 1024px) {
  .elementor-7
    .elementor-element.elementor-element-79ad2302
    > .elementor-element-populated {
    padding: 0px 0px 0px 30px;
  }
  .elementor-7 .elementor-element.elementor-element-5bf747d2 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-7
    .elementor-element.elementor-element-369d9fd0
    > .elementor-widget-container {
    padding: 0px 0px 0px 40px;
  }
  .elementor-7 .elementor-element.elementor-element-d55fd7e {
    padding: 0px 0px 20px 30px;
  }
  .elementor-7 .elementor-element.elementor-element-1bacee8 {
    padding: 0px 0px 100px 30px;
  }
  .elementor-7 .elementor-element.elementor-element-5a9cb6f {
    padding: 100px 0px 100px 0px;
  }
  .elementor-7 .elementor-element.elementor-element-4c46a5bb {
    padding: 0px 0px 30px 30px;
  }
  .elementor-7 .elementor-element.elementor-element-fcc4374 {
    padding: 0px 0px 0px 30px;
  }
  .elementor-7 .elementor-element.elementor-element-154db84 {
    padding: 100px 60px 100px 60px;
  }
}
@media (max-width: 767px) {
  .elementor-7 .elementor-element.elementor-element-39bb9d87 {
    padding: 0px 15px 60px 15px;
  }
  .elementor-7
    .elementor-element.elementor-element-79ad2302
    > .elementor-element-populated {
    padding: 80px 0px 0px 0px;
  }
  .elementor-7 .elementor-element.elementor-element-5bf747d2 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-7
    .elementor-element.elementor-element-369d9fd0
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-7 .elementor-element.elementor-element-d55fd7e {
    padding: 0px 15px 0px 15px;
  }
  .elementor-7
    .elementor-element.elementor-element-b790762
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-7
    .elementor-element.elementor-element-b790762
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-7 .elementor-element.elementor-element-1bacee8 {
    padding: 0% 0% 7% 3%;
  }
  .elementor-7 .elementor-element.elementor-element-4c46a5bb {
    padding: 0px 15px 0px 15px;
  }
  .elementor-7
    .elementor-element.elementor-element-626558be
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-7
    .elementor-element.elementor-element-626558be
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-7 .elementor-element.elementor-element-fcc4374 {
    padding: 0px 15px 0px 15px;
  }
  .elementor-7
    .elementor-element.elementor-element-e41b7f9
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-7
    .elementor-element.elementor-element-e41b7f9
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-7 .elementor-element.elementor-element-154db84 {
    padding: 60px 15px 60px 15px;
  }
  .elementor-7
    .elementor-element.elementor-element-4baacde
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-7 .elementor-element.elementor-element-b790762 {
    width: 60.645%;
  }
  .elementor-7 .elementor-element.elementor-element-8130b4b {
    width: 39.301%;
  }
  .elementor-7 .elementor-element.elementor-element-b29f1be {
    width: 17.451%;
  }
  .elementor-7 .elementor-element.elementor-element-b2ec224 {
    width: 82.549%;
  }
  .elementor-7 .elementor-element.elementor-element-626558be {
    width: 60.645%;
  }
  .elementor-7 .elementor-element.elementor-element-5875f35c {
    width: 39.301%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-7 .elementor-element.elementor-element-b29f1be {
    width: 25%;
  }
  .elementor-7 .elementor-element.elementor-element-b2ec224 {
    width: 50%;
  }
}
